# OpenAI
OPENAI_API_KEY=

# DeepSeek
DEEPSEEK_API_KEY=

# eBay
EBAY_CLIENT_ID=
EBAY_CLIENT_SECRET=
EBAY_DEV_ID=
EBAY_CERT_ID=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_DRIVE_BACKUP_FOLDER_ID=

# Upstash
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# CJ Dropshipping
CJ_API_KEY=

# Optional
SYNC_TOKEN=
